
body{
    background-image:url("images/oCvsFYI.jpg");
    margin:0;
}

img{
    max-width: 100%;
}

nav ul:hover ul li a{
color:red;
font-size:16px;
}


.KIMO{
    font-family: inherit;
    font-size: 20px;
    font-weight: bold;
    color:black;
}

main{
    margin-top:0%;
    display: grid;
    padding-left:10%;
    padding-right:10%;
    grid-template-columns: 20% 80%;
    padding-top:0px;
    background-color:rgba(0, 0, 0, 0.7); 
    min-height: 700px;
}
.modal__save{
    color:#fff;
    text-decoration: none;
    position:absolute;
    top:1rem;
    right:5rem;
  }
.kids{
    background-color: #336699ad;
    display: grid;
    align-content: center;
}
.kids {
    text-decoration: none;
    font-size: 100%;
    color:black;
    text-align: center;
    font-weight: bold;
    max-width: 100%;

}

.kids form:hover{
    background-color:#4b545f;
}
.kids a:hover{
    background-color:#4b545f;
}
a{
    text-decoration: none;
}
.kids form{
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    color:black;
    align-content: center;
    text-align: center;
    font-weight: bold;
    font-family: inherit;
    max-width: 100%;
    margin: 3%;
    margin-left: 10%;
}
.kids #add{
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    color:black;
    align-content: center;
    text-align: center;
    font-weight: bold;
    font-family: inherit;
    max-width: 100%;
    margin: 3%;
    margin-left: 10%;
}
.kids a img
{
    max-width: 100%;
    height: 50px;
}
.kids form img
{
    max-width: 100%;
    height: 50px;
}
#add a
{
    color: black;
}
.actions{
    padding:10%;
    grid-column-start: 2;
    display: grid;
    background-color: white;
}
.datas img{
    width: 20%;
}
.datas a{
    color: black;
}
.actions div{
    display:grid;
    grid-template-columns: 20% 80%;
    align-content: center;
    align-items: center;
    font-weight: bold;
}
.modal3:target{
    display: table;
}
.modal3{
    display:none;
    background:rgba(0, 0, 0, .8);
    position:fixed;
    left:0;
    top:0;
    height:100%;
    width:100%;
  }
.modal3 .modal__header{
    background:red;
    color:rgba(255, 255, 255, 0.8);
    padding:1rem;
    position:relative;
  }

.modal2:target{
    display: table;
}
.modal2{
    display:none;
    background:rgba(0, 0, 0, .8);
    position:fixed;
    left:0;
    top:0;
    height:100%;
    width:100%;
  }
.modal{
    display:none;
    background:rgba(0, 0, 0, .8);
    position:fixed;
    left:0;
    top:0;
    height:100%;
    width:100%;
  }
  .modal:target{
    display:table;
  }
  .modal__dialog{
    display:table-cell;
    vertical-align:middle;
  }
  
  .modal__content{
    background:rgb(255, 255, 255);
    width:60%;
    min-width:300px;
    margin:auto;
    position:relative;
    animation: slideUp 0.3s ease-in-out;
  }
  
  .modal__header{
    background:#2980b9;
    color:rgba(255, 255, 255, 0.8);
    padding:1rem;
    position:relative;
  }
  .modal__title{
    margin:0;
  }
  .modal__close{
    color:#fff;
    text-decoration: none;
    position:absolute;
    top:1rem;
    right:1rem;
  }
  form{
      display: grid;
      margin: 5%;
      justify-items: center;
  }
  form input{
      width: 50%;
      align-self: center;
  }
#form1 img{
    width: 5%;
}
#form2{
    display: grid;
    margin: 10%;
    justify-items: center;
    align-items: center;
}
#gen{
    display: grid;
    grid-template-columns: 50% 50%;
}
#text .item{
    display:grid;
    grid-template-columns: 50% 50%;
    
}
#addphoto{
    display:grid;
    grid-template-columns: 100%;
    text-align: center;
}
#addphoto input{
    padding-left:25%;
padding-right:25%;
    
}
.item{
    margin-bottom:25px;
}
.item input{
    width: 100%;
    align-self: center;
}


footer{
    display: grid;
    grid-template-columns: 50% 50%; 
    align-items: center;
    text-align: left;
    background-color: #8cb3d9;

}
footer #facebook{
    align-items: center;
    display: grid;
    grid-template-columns: 40% 5% 55%;
  
    
}
footer #facebook img{
    grid-column-start: 2;
    border-radius: 50px;
    margin-top:15%;
}
footer #email{
    margin-left:40%;
    display: grid;
    grid-template-columns: 10% 50%;
    align-items: center;

}
footer #email img{
    margin-top:10%;
    border-radius: 50px;
}
footer div a{
    padding-left:10px;
    text-decoration: none;
    font-family: inherit;
    color: black;
}

footer #facebook a{
    text-decoration: none;
}
nav{
    width:100%; 
    margin:0;
    position: fixed;
    

}
nav ul{
    margin:0;
    display:grid;
    grid-template-columns: 5% 35% 15% 15% 15% 15%;
    background-color: #336699;
    min-height:40px;
    position: relative;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    align-items:center;
    list-style:none;

}
nav ul li:first-of-type:hover{
    background-color: #336699

}
#KIMO{
    font-family: inherit;
    font-size: 20px;
    font-weight: bold;
    color:black;
}
nav ul li:nth-of-type(2):hover{
    background-color: #336699;
    
}
nav ul li:nth-of-type(3){
    grid-column-start:3;
}
nav ul li a{
    
    text-align: center;
    font-family: inherit;
    font-size: 20px;
    font-weight: bold;
    color:black;
    text-decoration: none;
    display: block; padding: 5% 5%;
}
nav ul li:hover {
    height: 100%;
	background: #4b545f;

}
nav ul li:hover a {
	color: #fff;
}
nav ul li:hover ul{
    display:block;
}

nav ul li+ ul:hover{
    display: block;
}

nav ul ul {
    display:none;
    background: #8cb3d9;
    border-radius:0%;
    margin:0%;
    padding: 0%;
    position: absolute; 
    top: 100%;
    width:100%;
    grid-column: 4/5;
}

nav ul ul li  {

	border-top: 1px solid #6b727c;
    border-bottom: 1px solid #575f6a;
    position: relative;
    min-height: 40px;
    text-align: center;
    font-family: inherit;
    font-weight: bold;
    color:black;
    text-decoration: none;
}
nav ul ul li:hover{
    position: relative;
    background-color: #336699   ;
}
#map{
    background-image:url("images/maps.jpg");
    background-size: cover;

}
nav ul li img{
    width: 70%;
    border-radius: 50%;
}
nav ul ul {
    display:none;
    background: #8cb3d9;
    border-radius:0%;
    margin:0%;
    padding: 0%;
    position: absolute; 
    top: 100%;
    width:100%;
    grid-column: 4/5;
}
    nav ul ul li {

        border-top: 1px solid #6b727c;
        border-bottom: 1px solid #575f6a;
        position: relative;
        min-height: 40px;
        text-align: center;
        font-family: inherit;
        font-weight: bold;
        color:black;
        text-decoration: none;
    }
nav ul ul li:hover{
    position: relative;
    background-color: #336699   ;
}
nav nav ul{
    position: relative;
    display: none;
}

@media screen and (max-width: 760px){
    nav ul{
        display:none;
    
    }
    nav nav ul{
        position: relative;
        display: grid;
        grid-template-columns: 10% 50% 10% 30%;
    }
    #menu:hover>#menu2{
        display: block;
    }
    #meniu>#menu2:hover{
        display: block;
    }
    #menu:active>#menu2{
        display: block;
    }
    #meniu>#menu2:active{
        display: block;
    }
    #menu2 ul{
        display:none;
    }
    #menu2 li:nth-of-type(2):hover ul{
        display: block;
    } 
    #menu2 li:nth-of-type(2) ul:hover{
        display: block;
    } 
    #menu2 li:nth-of-type(2):active+ul{
        display: block;
    } 
    #menu2{
        margin:0;
        width:300%;
        display: none;
        position:absolute;
    }
    nav nav ul li:nth-of-type(2){
        grid-column-start:3;
    }
    nav nav ul li:nth-of-type(3){
        grid-column-start:4;
    }
    nav nav ul li:nth-of-type(3):hover{
        background-color:#336699;
    }
    
    footer #email{
        margin-left:30%;;
        display: grid;
        grid-template-columns: 8% 50%;
        align-items: center;
        margin-top:1%;
    }
    footer #facebook{
        margin-left:30%;
        align-items: center;
        display: grid;
        grid-template-columns: 7% 55%;
      
        
    }
    footer #facebook img{
        margin-top:25%;
        grid-column-start: 1;
        border-radius: 5px;
    }    
    footer{
        display: grid;
        grid-template-columns: 100%; 
        align-items: center;
        text-align: left;
        background-color: #8cb3d9;
    
    }
    .datas img{
        width: 30%;
    }
    main{
        grid-template-columns: 40% 60%;
        min-height: 800px;
         padding-bottom: 0%;
}
        
.kids{  
    padding-top:50px;
    
    vertical-align: baseline;
}

    }
@media screen and (max-width: 420px){
.kids{  
    padding-top:50px;
    padding-bottom: 0;    
    vertical-align: baseline;
}


main{
    grid-template-columns: 40% 60%;
    padding-top:0px;
    padding-bottom:50px;
    padding-left:0%;
    padding-right:0%;
    margin-bottom: 0px;
    min-height: 800px;
}


}



