.act{
    background-color: #336699ad;
    display: grid;
    align-content: center;
    grid-row-gap: 3%;
}

.act {
    text-decoration: none;
    font-size: 100%;
    color:black;
    text-align: center;
    font-weight: bold;
    max-width: 100%;

}

.act div:hover{
    background-color:#4b545f;
}
a{
    text-decoration: none;
}
#addph{
    display: grid;
    grid-template-columns:40% 60%;
    align-items: center;
    color:black;
    align-content: center;
    text-align: center;
    font-weight: bold;
    font-family: inherit;
    max-width: 100%;
    margin: 3%;
    margin-left: 10%;
}
a div{
    display: grid;
    grid-template-columns: 90% 10%;
    
    align-items: center;
    color:black;
    align-content: center;
    text-align: center;
    font-weight: bold;
    font-family: inherit;
    max-width: 100%;
    margin: 3%;
    margin-left: 10%;
    min-height: 50px;
}
.profile{
 background-color: white;
}
#dataprofile{
    display: grid;
    grid-template-columns: 30% 70%;
    align-content: center;
    margin-top: 10%;
    margin-left:5%;
    margin-right: 5%;
    margin-bottom: 5%;
}
#dataprofile img{
   max-height: 100px;
    margin:3%;
}
#name{
    grid-column-start: 2;
    font-weight: bold;
    font-family: inherit;
    max-width: 100%;
    font-size: 25px;
    padding-top: 8%;
    padding-left: 7%;

}
main{
 padding-top: 40px;
}
.map{
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
}
.map img{
    max-width: 100%;
    
}

.person{
   
    display: grid;
    grid-template-columns: 100%;
}

.person:hover >ul{
    display:block;
}

.person> ul:hover{
    display: block;
}
.person ul {
    position: relative;
    display:none;
    padding:0;
    margin: 0;
    width: 100%;
    background-color: #8cb3d9;
}

.person ul li {

	border-top: 1px solid #6b727c;
    border-bottom: 1px solid #575f6a;
    min-height: 40px;
    text-align: center;
    font-family: inherit;
    font-weight: bold;
    color:black;
    list-style-type: none;
}
.person ul li:hover{
    background-color: #336699   ;
}
a li {
    font-family: inherit;
    font-weight: bold;
    color:black;
    text-decoration: none;
   
}
a
{
    color: black;
}
form{
    display:grid;
    grid-template-columns: 100%;
    grid-row-gap: 5%;
    

}
.modal__body{
    margin: 10%;
    padding-bottom:10%;
}
.modal__save{
    color:#fff;
    text-decoration: none;
    position:absolute;
    top:1rem;
    right:5rem;
  }
@media screen and (max-width: 840px){
    #dataprofile {
        padding-top: 10%;
        
     }
     .modal__body{
        margin: 15%;
    }
     
}
@media screen and (max-width: 400px){
    #dataprofile {
        padding-top: 15%;
     }
     
}