
body{
    background-image:url("images/oCvsFYI.jpg");
    margin:0;
}

img{
    max-width: 100%;
}
main{
    display: grid;
    padding-left:5%;
    grid-template-columns: 50% 50%;
    padding-top:50px;
    padding-bottom:50px;
    background-color:rgba(0, 0, 0, 0.7); 
    padding-left:15%;
    padding-right:15%;
    min-height: 600px;
    
}
main div:nth-child(odd){
    margin-right: 5%;
}
main div:nth-child(even){
    margin-left: 5%;
}
#add img{
    width: 30%;
}

#add{ 
    display:block;
    grid-column-start: 1;
    grid-column-end:3;
    
}
#add1{display: none;}
#add:active + #add1{
    display:grid;
}
#add:active{
    display: none;
}

main a{
    text-decoration: none;

}
main div:hover{
    background-color: #336699;
}
main a:nth-of-type(1){
    margin-top:50px;
}
main a:nth-of-type(2){
    margin-top:50px;
}
main div{
    border-radius:25px;
    align-items: center;
    display: grid;
    grid-template-columns: 40% 60%;
    margin-bottom:20px;
    text-align: center;
    background-color: #8cb3d9;
    font-family: inherit;
    font-weight: bold;
    font-size:15px;
    color:black;
    
}

main div img{
    border-radius:25px 0 0 25px;
    width:100%;
    height: 130px;
}
footer{
    display: grid;
    grid-template-columns: 50% 50%; 
    align-items: center;
    text-align: left;
    background-color: #8cb3d9;

}
footer #facebook{
    align-items: center;
    display: grid;
    grid-template-columns: 40% 5% 55%;
  
    
}
footer #facebook img{
    margin-top:15%;
    grid-column-start: 2;
    border-radius: 5px;
}
footer #email{
    margin-left:40%;
    display: grid;
    grid-template-columns: 11% 50%;
    align-items: center;

}
footer #email img{
    margin-top:10%;
    border-radius: 50px;
}
footer div a{
    padding-left:10px;
    text-decoration: none;
    font-family: inherit;
    color: black;
}

footer #facebook a{
    text-decoration: none;
}
nav nav ul{
    position: relative;
    display: none;
}
nav{
    width:100%; 
    margin:0;
    position: fixed;
    

}
nav ul{
    margin:0;
    display:grid;
    grid-template-columns: 5% 35% 15% 15% 15% 15%;
    background-color: #336699;
    min-height:40px;
    position: relative;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    align-items:center;
    list-style:none;

}
nav ul li:first-of-type:hover{
    background-color: #336699

}
#KIMO{
    font-family: inherit;
    font-size: 20px;
    font-weight: bold;
    color:black;
}
nav ul li:nth-of-type(2):hover{
    background-color: #336699;
    
}
nav ul li:nth-of-type(3){
    grid-column-start:3;
}
nav ul li a{
    
    text-align: center;
    font-family: inherit;
    font-size: 20px;
    font-weight: bold;
    color:black;
    text-decoration: none;
    display: block; padding: 5% 5%;
}
nav ul li:hover {
    height: 100%;
	background: #4b545f;

}
nav ul li:hover a {
	color: #fff;
}
nav ul li:hover + ul{
    display:block;
}

nav ul li+ ul:hover{
    display: block;
}

nav ul ul {
    display:none;
    background: #8cb3d9;
    border-radius:0%;
    margin:0%;
    padding: 0%;
    position: absolute; 
    top: 100%;
    width:100%;
    grid-column: 4/5;
}
    nav ul ul li {

        border-top: 1px solid #6b727c;
        border-bottom: 1px solid #575f6a;
        position: relative;
        min-height: 40px;
        text-align: center;
        font-family: inherit;
        font-weight: bold;
        color:black;
        text-decoration: none;
    }
nav ul ul li:hover{
    position: relative;
    background-color: #336699   ;
}

#map{
    background-image:url("images/maps.jpg");
    background-size: cover;

}
nav ul li img{
    width: 70%;
    border-radius: 50%;
}
@media screen and (max-width: 760px){
    nav ul{
        display:none;
    
    }
    nav nav ul{
        position: relative;
        display: grid;
        grid-template-columns: 10% 50% 10% 30%;
    }
    #menu:hover>#menu2{
        display: block;
    }
    #meniu>#menu2:hover{
        display: block;
    }
    #menu:active>#menu2{
        display: block;
    }
    #meniu>#menu2:active{
        display: block;
    }
    #menu2 ul{
        display:none;
    }
    #menu2 li:nth-of-type(2):hover+ul{
        display: block;
    } 
    #menu2 li:nth-of-type(2):active+ul{
        display: block;
    } 
    #menu2{
        margin:0;
        width:300%;
        display: none;
        position:absolute;
    }
    nav nav ul li:nth-of-type(2){
        grid-column-start:3;
    }
    nav nav ul li:nth-of-type(3){
        grid-column-start:4;
    }
    nav nav ul li:nth-of-type(3):hover{
        background-color:#336699;
    }
    
    main{
        min-height: 650px;
        display: grid;
        grid-template-columns: 100%;
        padding-top:50px;
        padding-bottom:50px;
        background-color:rgba(0, 0, 0, 0.7); 
        padding-left:15%;
        padding-right:15%;
        
    }
    main a:nth-of-type(2){
        margin-top:0;
    }
    main a{
        margin-bottom: 5px;
    }
    main a div{
        border-radius:25px;
        align-items: center;
        display: grid;
        grid-template-columns: 40% 60%;
        margin-bottom:10px;
        text-align: center;
        background-color: #8cb3d9;
        font-family: inherit;
        font-weight: bold;
        font-size:15px;
        color:black;
        
    }
    footer #email{
        margin-left:30%;;
        display: grid;
        grid-template-columns: 8% 50%;
        align-items: center;
        margin-top:1%;
    }
    footer #facebook{
        margin-left:30%;
        align-items: center;
        display: grid;
        grid-template-columns: 7% 55%;
      
        
    }
    footer #facebook img{
        margin-top:25%;
        grid-column-start: 1;
        border-radius: 5px;
    }    
    footer{
        display: grid;
        grid-template-columns: 100%; 
        align-items: center;
        text-align: left;
        background-color: #8cb3d9;
    
    }
}
@media screen and (max-width: 420px){

main{
    padding-top:50px;
    padding-bottom:50px;
    padding-left:5%;
    padding-right:5%;
}


}
